/* Written by: Max Manning */

#myCanvas{
    border: 2px solid black;
    background-color: rgb(4, 168, 214);
}

#slider{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

#title{
    padding-right: 10px;
}

body{
    text-align: center;
    margin: 0;
}

button{
    margin-left: 10px;
    height: 30px;
}

p {
  margin: 0;
}
